# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.vscode
.idea
cmd_main
main
*.log
#wallet-cli
/cmd/wallet-cli/wallet-cli
cmd/cosd/cosd
cmd/multinodetester/multinodetester
cmd/databackup/databackup
cmd/pressuretest/pressuretest
cmd/nodedetector/nodedetector
cmd/readtest/readtest
cmd/autosetup/autosetup

coverage.*
build
js_proto.sh
bin
